<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553647951745-bbg0mphmf7n23orp9rbtiro8gf8k1h52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553647951745-bbg0mphmf7n23orp9rbtiro8gf8k1h52</string>
	<key>API_KEY</key>
	<string>AIzaSyDNasHqTp1rg_o9L4QFkJSx022G7rrylRw</string>
	<key>GCM_SENDER_ID</key>
	<string>553647951745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projekt</string>
	<key>PROJECT_ID</key>
	<string>event-manager-90a4d</string>
	<key>STORAGE_BUCKET</key>
	<string>event-manager-90a4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553647951745:ios:2c9a83e8e367843b13e280</string>
</dict>
</plist>